@tailwind base;
@tailwind components;

/* App.css */
.keen-slider {
    height: 100%;
    width: 100%;
  }
  
  .keen-slider__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }

  
@tailwind utilities;
